
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.header-top-end {
  position: absolute;
  right: 0;
  margin-right: 7vw;
}
#header__top {
  position: absolute;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

#header__logo {
  position: absolute;
  left: calc(50% - 90px);
  min-height: 75px;
  padding-top: 10px;
}

#header__right {
  position: absolute;
  right: 1px;
  margin-right: 6vw;
  min-height: 75px;
  padding-top: 25px;
}

#menu {
  z-index: 2;
  top: 7px;
  margin-left: 6vw;
  position: absolute;
}

.menu-bg {
  top: 0;
  position: absolute;
}

.menu-bg,
#menu {
  left: 0;
}

#menu-bar {
  width: 25px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 4px;
}

.nav_ {
  transition: 0.3s ease;
  display: none;
}

.nav_ a {
  color: black;
  background: none;
  border: none;
}
.nav_ a:hover {
  color: black;
  cursor: pointer;
}

.nav_ a:hover {
  font-weight: bold;
}

#nav .item {}

#nav .item.header {
  font-size: 3em;
}


.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: #ffb122;
  transition: 0.3s ease;
  border-radius: 0px 0px 50em 0px;
}

.change {
  display: block;
}

.change .bar {
  background-color: black;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 25em;
  height: 100vh;
}

.menu-open {
  overflow-y: hidden;
}

.product-single-title {
  font-size: 3.382352941176471vw;
  color: black;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.507352941176471vw;
  text-align: center;
  padding-bottom: 4.926470588235294vw;
}
.product__price--item {
  letter-spacing: 0.211764705882353vw;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}
.product__add-to-cart {
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.105882352941176vw;
  color: #000;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-bottom: 0.367647058823529vw;
  border-bottom: 2px solid;
}
.lg-btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.105882352941176vw;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-bottom: 0.367647058823529vw;
  border-bottom: 2px solid;
}
.mini-cart .dropdown-menu {
  min-width: 20rem !important;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #ffa33f !important;
  border-color: #ffa33f !important;
}

